# Bytecode
__pycache__/
*.py[cod]
*.pyc
*$py.class

# Environments
.env
.envrc
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Caches
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.cache/

# Data
data/
history/
memories.jsonl

# App
.streamlit/

# IDEs
.vscode/
.idea/
*.swp

# Logs
*.log
